@use "src/utils/global" as styles;

.loader {
  width: 48px;
  height: 48px;
  border: styles.$loader;
  border-bottom-color: transparent;
  border-radius: styles.$circleRadius;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loaderWrapper {
  width: 48px;
  margin: 16px auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}