$black: #000;
$white: #FFF;
$blue: #49C2E8;
$hover: #EEEEEE;
$active: #d9d9d9;
$hoverOption: rgba(73, 194, 232, 0.11);
$loader: 5px solid rgba(73, 194, 232, 0.5);
$avatarBorder: 2px solid rgba(255, 255, 255, 0.60);
$boxShadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
$dropShadow: drop-shadow(0px 0px 16.37px rgba(0, 0, 0, 0.10));
$circleRadius: 50%;
$blockRadius:5px;
$optionRadius:6px;
$gridTable:
40px minmax(100px,300px) minmax(120px,280px) minmax(60px,120px) minmax(70px,120px) 80px 30px 30px;